    <div class="footerContent">
    </div>
    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 leftColumn col-footer">
                    <img src="/logo_white.png" class="logo">
                    <h6>Drakeheart Designs</h6>
                </div>
                <div class="col-sm-4 col-footer">
                    <h5>Contact Us</h5>
                    <ul>
                        <li>drakeheartdesigns@gmail.com</li>       
                    </ul>
                </div>
                    <div class="col-sm-4 rightColumn col-footer">
                        <h5>Follow Us</h5>
                        <div class="social-networks">
                            <a href="https://www.facebook.com/drakeheartdesigns/" target="_blank" class="facebook"><i class="fab fa-facebook"></i></a>
                            <a href="https://twitter.com/DHD_Plushies" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.deviantart.com/fire-topaz" target="_blank" class="deviant"><i class="fab fa-deviantart"></i></a>
                        </div>                    
                    </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© Drakeheart Designs </p>
        </div>
    </footer>

    </body>
</html>