    <div class="footerContent">
    </div>
    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-footer">
                    <a href="#">
                        <img src="/newlogo.png" class="logo">
                        <h6>Drakeheart Designs</h6>
                    </a>
                </div>
                <div class="col-sm-4 col-footer">
                    <h5>Contact Us</h5>
                    <ul>
                        <li>drakeheartdesigns@gmail.com</li>       
                    </ul>
                </div>
                    <div class="col-sm-4 rightColumn col-footer">
                        <h5>Follow Us</h5>
                        <div class="social-networks">
                            <a href="https://www.facebook.com/drakeheartdesigns/" target="_blank" class="facebook"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                        </div>                    
                    </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© Drakeheart Designs </p>
        </div>
    </footer>

    </body>
</html>