
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
      <div class="container navMargin">
        <a class="navbar-brand" href="/"><img src="/logo_white.png" class="navbarLogo">Drakeheart Designs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <button class="dropdown nav-link" id="about-nav-btn" onclick="NavbarDropdown(event)">About</button>
                <div class="dropdownContent collapse" id="aboutDropdown">
                    <a href="/about">About Us</a>
                    <a href="/terms-and-conditions">Terms and Conditions</a>
                </div>
            </li>
            <!-- <li class="nav-item">
              <button class="dropdown nav-link" id="shop-nav-btn" onclick="NavbarDropdown(event)">Shop</button>
                <div class="dropdownContent collapse" id="shopDropdown">                    
                    <a href="/gallery">Plush Gallery</a>
                    <a href="/price-estimate">Price Estimator</a>
                    <a href="/magic-shoppe">Katie's Magic Shoppe</a>   
                    <a href="/order">Order Now</a>
                </div>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>