<% include partials/head-tag %>

    <title>About Us | Drakeheart Designs</title>

</head>
<body>

<% include partials/header %>
    
    <div class="container my-5">
        <div class="row">
<!--            Or maybe do both pull-left-->
            <div class="col-sm-12">
                <img src="/about_banner.jpg" class="img-responsive img-about float-left">
                <h2 class="font-weight-light">Who are we?</h2>
                <p>Founded in 2012 by Katie Drakeheart, Drakeheart Designs is proud to be a family owned, family run, family friendly business. All of our products are designed and crafted by Katie Drakeheart. We offer high quality plushes for some of the lowest prices in the soft art industry.</p>
            </div>
        </div>
    </div>
    
<% include partials/footer %>