<html>
    <head>
        <title>Drakeheart Designs - Admin</title>
        <link rel="icon" type="image/png" href="logo_blue.png">

        <script src="../jquery.js" type="text/javascript"></script>
        <link href="../bootstrap.css" type="text/css" rel="stylesheet">
        <link href="../myStyles.css" type="text/css" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
        
    </head>
    <body>
        
    </body>
</html>