<% include partials/head-tag %>

<title>Katie's Magic Shoppe</title>

</head>
<body>

<% include partials/header %>
    
    <h1 class="text-center stay-tuned">Coming Soon!</h1>
    <h3 class="text-center">Stay tuned for new original products from Drakeheart Designs!</h3>
    <h5 class="text-center">Follow us on social media for the latest news: <a href="https://www.facebook.com/drakeheartdesigns/" target="_blank" class="facebook"><i class="fab fa-facebook"></i></a><!--&nbsp;<a href="#" class="instagram"><i class="fab fa-instagram"></i></a></h5>-->
    
<% include partials/footer %>