<html>
    <head>
        <title>Register</title>
        <link href="../styles/bootstrap.css" rel="stylesheet">
    </head>
    <body>
        <form action="/dhd/register/new-admin" method="post">
            <label>Username: </label>
            <input type="text" name="username">
            <br>
            <label>Password: </label>
            <input type="password" name="password">
            <br>
            <input type="submit" class="btn btn-success">
        </form>
    </body>
</html>