<% include partials/head-tag %>

<title>Terms &amp; Conditions</title>

</head>
<body>

<% include partials/header %>

<div>
  <h3>Acceptance Guidelines for Commissions</h3>
  <p>Drakeheart Designs reserves the right to reject commissions from anyone for any reason without explicit explanation. Common motives include the violation of copyright and intellectual property laws, the commissioning of "not safe for work" products, or abuse towards Katie Drakeheart or any other employee of Drakeheart Designs. Any commission that falls under any of these descriptions will be immediately rejected.</p>

  <h3>Copyright Adherence</h3>
  <p>Drakeheart Designs is a law-abiding institution and respects copyright and intellectual property regulations. This includes the rejection of online plush sales of canonized characters used in TV series, movies, video games, and other forms of visual media within the last ten years. Canonized characters of said forms of media that appear in the Drakeheart Designs gallery have generally been sold at conventions (where it is legal to do so). If the period of time since the character has been canonized has been greater than ten years and if the character is not currently a canonized character or if there is a difference between the current canonized design and the design that would be used by Drakeheart Designs, we may be willing to accept the plush commission (see "Accepting Commissions''). In all other cases, online plush sales of canonized characters will be rejected.</p>

  <p>Drakeheart Designs will not sell plushies of other commissioners' original characters unless granted permission by the owner of that character or unless the commissioner has abandoned his/her/their order (see "Abandoning Orders").</p>

  <h3>Pricing</h3>
  <p>The base price for ponies is $250, for dragons is $400, for wolves is $350, and for most custom patterns is $500. Prices are calculated by Katie Drakeheart and are dependent on features such as multiple colors, patterning, embroidery details, and accessories. A price quote that is given by Katie Drakeheart is considered official and will be valid for up to two (2) months; after two (2) months, a new price quote will be issued if the commissioner places an order. A $50 non-refundable reservation fee is charged per plush. This fee is subtracted from the plush total. Drakeheart Designs accepts payment via PayPal upon completion of the commission and prior to shipment.</p>

  <p>Prices listed by the price estimator on the website do not constitute an official price quote. A customer may receive an official price quote by submitting an order form. There is no commitment for submitting an order form until an official price quote is accepted by the customer and the reservation fee is paid.</p>

  <h3>Payment</h3>
  <p>Drakeheart Designs accepts payment via PayPal invoices. There is a $50 non-refundable reservation fee per plush that is required upon commission acceptance and subtracted from the plush total. Upon completion of the commission, payment will be charged to the customer and expected in full. If a customer needs to make other payment arrangements, he/she/they will need to contact Drakeheart Designs. We reserve the right to refuse alternative payment options.</p>

  <p>Payment plans may be discussed with Drakeheart Designs in advance of commission acceptance.</p>

  <h3>Abandoning Orders</h3>
  <p>Upon the acceptance of an official Drakeheart Designs price quote (see "Pricing and Price Estimator"), a customer's commission becomes an official order and he/she/they waive rights to the original character to Drakeheart Designs for the completion of the commissioned product. The customer accepts that they will pay for the order upon completion. If he/she/they abandon the order at any point in the process, Drakeheart Designs will sell the commissioned product to the highest bidder. Customers grant consent for this action upon accepting a price quote and paying a reservation fee.</p>

  <p>An order will be considered abandoned if:</p>
  <ol>
    <li>The customer states that he/she/they no longer want the product after he/she/they have paid the reservation fee.</li>
    <li>More than two (2) weeks have passed since the product was completed, payment has not been made in full, and other arrangements have not been made with Katie Drakeheart.</li>
  </ol>
  <p>Refunds will not be given for abandoned orders that have been paid only in part.</p>

  <h3>Refunds</h3>
  <p>Once an order has been shipped, Drakeheart Designs is not responsible for the arrival of the package and will therefore not issue refunds (see "Shipping"). Tracked shipping is purchased for all United States orders as an added precaution, but no refunds are issued for mail loss or damage. Refunds are not available for abandoned orders (see "Abandoning Orders").</p>

  <h3>Shipping</h3>
  <p>Drakeheart Designs ships products to customers within one (1) week after receiving payment. Orders will not be shipped until payment has been made in full. If the order is being shipped within the United States, the price of tracked shipping will be included in the price quote. The customer is expected to pay the additional cost for international shipping, express shipping, or import fees.</p>

  <p>Though we take all necessary precautions to prevent accidents, Drakeheart Designs is not responsible for mail loss or damage. A tracking number for each order is available upon request.</p>

  <h3>Completion Time Frame</h3>
  <p>Commission time frame is subject to the complexity of the plush and number of orders taken during an acceptance window. Drakeheart Designs will contact clients when we are ready to begin work on a plush. In general, plushies are completed 1-2 months after the ready email is sent. Drakeheart Designs cannot guarantee completion dates, but will take every step to stay on track.</p>

  <p>Progress can be monitored on the Drakeheart Designs Trello: <a href="https://trello.com/b/36GhsDy6/commissions">https://trello.com/b/36GhsDy6/commissions</a></p>

  <h3>Materials and Allergens</h3>
  <p>Drakeheart Designs workspace is located in a smoke-free, pet-friendly (dogs) environment. While we do our best to restrict access to the workspace itself, some allergens may still inhabit the work area.</p>

  <p>All plushies are made with Shannon minky and filled with polyfil fiber and pellets.</p>

</div>
    
<% include partials/footer %>