<% include partials/head-tag %>

<title>Terms &amp; Conditions</title>

</head>
<body>

<% include partials/header %>

<div id="accordion" class="container mt-3">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Abandoning Orders
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Upon the acceptance of an official Drakeheart Designs price quote (see "Pricing and Price Estimator"), a customer's commission becomes an official order and he/she waives rights to the original character to Drakeheart Designs for the completion of the commissioned product. The customer accepts that they will pay for the order upon completion. If he/she abandons the order at any point in the process, Drakeheart Designs will sell the commissioned product to the highest bidder. Customers grant consent for this action upon sending in an order and accepting a price quote.
        <br>
        <br>
        An order will be considered abandoned if:
          <ol>
            <li>The customer states that he/she no longer wants the product after he/she has accepted an official price quote.</li>
            <li>More than six months have passed since the product was completed, payment has not been made in full, and other arrangements have not been made with Katie Drakeheart.</li>
          </ol>
          
        Refunds will not be given for abandoned orders that have been paid only in part.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Acceptance Guidelines for Commissions
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Drakeheart Designs reserves the right to reject commissions from anyone for any reason and we do not have to give explicit explanation for out motives. Common motives include the violation of copyright and intellectual property laws, the commissioning of "not safe for work" products, or abuse towards Katie Drakeheart or any other employee of Drakeheart Designs. Any commission that falls under any of these descriptions will be immediately rejected.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Copyright Adherence
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Drakeheart Designs is a law-abiding institution and respects copyright and intellectual property regulations. This includes the rejecting of online plush sales of canonized characters used in TV series, movies, videogames, and other forms of visual media within the last ten years. Canonized characters of said forms of media that appear in the Drakeheart Designs gallery have generally been sold at conventions (where it is legal to do so). If the period of time since the character has been canonized has been greater than ten years and if the character is not currently a canonized character or if there is a difference between the current canonized design and the design that would be used by Drakeheart Designs, we may be willing to accept the plush commission (see "Accepting Commissions"). In all other cases, online plush sales of canonized characters will be rejected
        <br>
        <br>
        Drakeheart Designs will not sell plushes of other commissioners' original characters unless granted permission by the owner of that character or unless the commissioner has abandoned his/her order (see "Abandoning Orders").
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Payment
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        Drakeheart Designs accepts payment via PayPal. Upon completion of the commission, payment will be charged to the customer and expected in full. If a customer needs to make other payment arrangements, he/she will need to contact Drakeheart Designs. We reserve the right to refuse alternative payment options.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Pricing and Price Estimator
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        The base price for ponies is $125, for dragons is $250, and for most custom patterns is $400. Prices are calculated by Katie Drakeheart and are dependent on features such as multiple colors, patterning, and accessories. A price quote that is given by Katie Drakeheart is considered official and will be valid for up to six months; after six months, a new price quote will be issued if the commissioner places an order. Drakeheart Designs accepts payment via PayPal upon completion of the commission and prior to shipment.
        <br>
        <br>
        Prices listed by the price estimator on the website do not constitute an official price quote. A customer may receive an official price quote by submitting an order form. There is no commitment for submitting an order form until an official price quote is accepted by the customer.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Refunds
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
      <div class="card-body">
        Once an order has been shipped, Drakeheart Designs is not responsible for the arrival of the package and will therefore not issue refunds (see "Shipping"). Tracked shipping is purchased for all United States orders as an added precaution, but no refunds are issued for mail loss or damage. <strong>Refunds are not available for abandoned orders</strong> (see "Abandoning Orders").
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingSeven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Shipping
        </button>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
      <div class="card-body">
        Drakeheart Designs ships products to customers within two business days of receiving payment. Orders will not be shipped until payment has been made in full. If the order is being shipped within the United States, the price of tracked shipping will be included in the price quote. The customer is expected to pay the additional cost for international shipping or express shipping.
        <br>
        <br>
        Though we take all necessary precautions to prevent accidents, Drakeheart Designs is not responsible for mail loss or damage.
      </div>
    </div>
  </div>
</div>
    
<% include partials/footer %>